/* 
    General Styles
*/

body {
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-image: url('https://cdn.pixabay.com/photo/2016/11/29/05/45/astronomy-1867616_1280.jpg');
}
